@font-face {
    font-family: 'Microsoft YaHei';
    src: url('../font/lets_go_digital_regular-webfont.eot');
    src: url('../font/lets_go_digital_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lets_go_digital_regular-webfont.woff2') format('woff2'),
         url('../font/lets_go_digital_regular-webfont.woff') format('woff'),
         url('../font/lets_go_digital_regular-webfont.ttf') format('truetype'),
         url('../font/lets_go_digital_regular-webfont.svg#Microsoft YaHei') format('svg');
    font-weight: normal;
    font-style: normal;

}/*数字字体*/

body{
	background: url(images/metrobg.jpg) center 0px repeat-x;
	width:2100px;
	height:1200px;
}

/**jqgrid边框背景*/
.ui-widget-content {
    border: 2px solid #48a3af;
    background: #19485d;
    color: #ffffff;
}

.ui-jqgrid tr.jqgrow td {
    font-weight: normal;
    overflow: hidden;
    white-space: pre;
    height: 53px;
    padding: 0 0px 0 0px;
    border-bottom-width: 1px;
    border-bottom-color: #2898b0;
    border-bottom-style: solid;
    font-size:26px;
    text-align: center;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    border-top: 0 none;
    border-bottom: 0 none;
    background:#156c80;
    border-right: solid 1px #184d62;
    
}


.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: hidden;
    position: relative;
    height: 30px;
    font-size:20px;
}
.commonText{
	font-size:24px;
	color:#ffffff;
}

.topGrid{
	width:2090px;
	height:317px;
	position:absolute;
	top:5px;
	left:5px;
}
.topGrid_value{
	font-family: "Microsoft YaHei";
	font-size:28px;
	color:#00fcff;
}

.bottomLeft{
	width:620px;
	position:absolute;
	top:340px;
	left:5px;
}

.bottomRight{
	width:2145px;
	height:855px;
	top:340px;
	left:0px;
	position:absolute;
}


.textInfo1{
	width:620px;
	height:160px;
	background: url(images/L1.png) center 0px no-repeat;
	padding:5px 0px 10px 10px;
	font-size:24px;
	color:#ffffff;
	display:none;
}
.textInfo1_value{
	font-family: "Microsoft YaHei";
	font-size:28px;
	color:#00fcff;
}
.textInfo2{
	width:538px;
	height:454px;
	background: url(images/L2_2.png) center 0px no-repeat;
	margin-top:5px;
	padding:6px 10px 6px 10px;
	overflow-y:auto;
}
.textInfo2_item{
	width:100%;
	height:105px;
	border:solid 1px #98bde2;
	margin-top:5px;
}
.textInfo2_item_title{
	width:32.8%;
	height:50%;
	font-size:28px;
	color:#ffffff;
	text-align:center;
	display:inline-block;
	line-height: 48px;
	
}
.textInfo2_item_kpi{
	font-size:28px;
	color:#ffffff;
	line-height: 48px;
}

.textInfo2_item_kpi_value{
	font-family: "Microsoft YaHei";
	font-size:48px;
	color:#00fcff;
}
.arpuChart{
	width:538px;
	height:218px;
	background: url(images/L3_2.png) center 0px no-repeat;
	margin-top:5px;
}

.alarmBg{
	background:#a80300;
}

.station3g{
	width:30px;
	height:30px;
	background: url(images/2-3G.png) center 0px no-repeat;
	display:inline-block;
}
.station4g{
	width:30px;
	height:30px;
	background: url(images/4G.png) center 0px no-repeat;
	display:inline-block;
}


.indicators{
	display: block;
	width:180px;
	height:112px;
	position:relative;
	  }	
.KPI{
	background: url(images/indicators_bg.png) center 0px no-repeat;
	float:left;
	}
.KPT_marginB{
	float:left;
	margin-bottom:5px;
	}
.KPT_marginT{
	float:left;
	margin-top:10px;
	}		
.KPT_marginR{
	margin-right:2px;
	}
.KPI_top{
	width:176px;
	height:60px;
	text-align:center;
	line-height:50px;
	margin:0 auto;
	}
.KPI h2{
	font-family: 'afta_sansregular';
	font-size:42px;	
	}
.KPI_bluetxt{
	color:#00fcff;	
	}
	
.KPI_redtxt{
	color:#ff0000;	
	}	
		
.KPI_yellowtxt{
	color:#fbb100;	
	}		
		
.KPI h2 span{
	font-family: 'fzlantinghei-m-gbkregular';
	font-size:20px;
	color:#fff;	
	}	
.KPIUnit{
	font-family: 'fzlantinghei-m-gbkregular';
	font-size:16px;
	color:#fff;
	position:absolute;
	bottom:15px;
	right:10px;	
}
.KPI_down{
	width:176px;
	height:30px;
	color:#fff;
	font-size:22px;
	text-align:center;
	margin:0 auto;
	font-family: 'fzlantinghei-m-gbkregular';
	table-layout: fixed; 
	word-wrap: break-word; 
	overflow: hidden;
	}
.KPI_red{
	background:#940000;
	}
.KPI_blue{
	background:#0503d6;
	}
.KPI_yllow{
	background:#fbb100;
	}				
	